.div-login{
    height: 95vh;
    width: 30%;
    gap: 40px;
    margin: 0 auto;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid grey;
}

.inputs-login{
    width: 95%;
    padding: 20px;
    gap: 5px;
    display: flex;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: grey;
    align-items: center;
    flex-direction: column;
}

.inputs-login input{
    width: 80%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
}

.Box-Login-text{
    width: 95%;
    padding: 20px;
    gap: 5px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
}