@page "/login"

@layout Layout.MainLayout
@rendermode InteractiveServer
@inject Authentication Auth
@inject NavigationManager Nav
<PageTitle>Login</PageTitle>

<div class="login-background"></div>

<div class="div-login">
    <div class="immagine-logo">
        <img src="/images/Logo.png"/>
    </div>
    <div class="Box-Login-text">
        <p>Questo è un piccolo gestionale creato Interamente da un singolo sviluppatore Leonardo Ringressi, spero diventi qualcosa di utile</p>
    </div>
    <div class="inputs-login">
        <form method="post" action="/api/login">
            <input name="Username" type="text" placeholder="Nome Utente" />
            <input name="Password" type="password" placeholder="Password" />
            <button type="submit">Accedi</button>
        </form>
        @if(Error == 1 ){
            <p>
                Username o Password NON valide
            </p>
        }
    </div>
</div>

@code{
[Parameter]
[SupplyParameterFromQuery]
public int? Error {get; set;}

}

