@page "/login"
@layout Layout.MainLayout
<PageTitle>Login</PageTitle>

<a href="/home">prova</a>
<div class="login-background"></div>

<div class="div-login">
    <div class="immagine-logo">
        <img src="/images/Logo.png"/>
    </div>
    <div class="Box-Login-text">
        <p>questo è un piccolo gestionale creato Interamente da un singolo sviluppatore Leonardo Ringressi, spero diventi qualcosa di utile</p>
    </div>
    <div class="inputs-login">
        <input type="text" placeholder="Nome Utente">
        <input type="password" placeholder="password">
    </div>
</div>

@code{
    private class Log{ 
    }
}

