@page "/login"
@layout Layout.MainLayout
@rendermode InteractiveServer
@inject Authentication Auth
@inject NavigationManager Nav
@inject HttpClient Http
<PageTitle>Login</PageTitle>

<div class="login-background"></div>

<div class="div-login">
    <div class="immagine-logo">
        <img src="/images/Logo.png"/>
    </div>
    <div class="Box-Login-text">
        <p>Questo è un piccolo gestionale creato Interamente da un singolo sviluppatore Leonardo Ringressi, spero diventi qualcosa di utile</p>
    </div>
    <div class="inputs-login">
        <input @bind="nome" @bind:event="oninput" type="text" placeholder="Nome Utente">
        <input @bind="password" @bind:event="oninput" type="password" placeholder="password">
        <button @onclick="DoLogin">Accedi</button>
        <p>@warning</p>
    </div>
</div>

@code{
    string password="";
    string nome="";
    string warning ="";
    private async Task DoLogin()
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5050/api/login", new { Username = nome, Password = password });

        if (response.IsSuccessStatusCode)
            Nav.NavigateTo("/home", true); // forza reload → cookie attivo
        else{
            warning = "Username o Password sbagliati";
            nome = "";
            password = "";
        }
            
    }
}

